CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Samples/build
Samples/.vscode


#######################################################################################################################
# 1. 空行不匹配任何文件
# 2. 以 # 开头的行用作注释
# 3. 尾部的空格被忽略
# 4. 以前缀 ！ 表示模式取反
# 5. 符号 / 用以分隔目录
# 6. 符合 * 通配多个字符
# 7. 符号 ? 通配单个字符
# 8. 符号 [] 包含单个字符的匹配列表
#######################################################################################################################